@page "{handler?}/{id:int?}"

@model shopping_list.WebApp.Pages.Manage.ItemsModel

@{
    ViewData["Title"] = "Good and Services";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using shopping_list.DataLayer;

<h2>@ViewData["Title"]</h2>

@if (Model.Message != "")
{
    string fontColor = @Model.Success ? "green" : "red";
    <p style="color: @fontColor;">@Model.Message</p>
}

<form method="post">
    <table cellpadding="4" cellspacing="4">
        <tr>
            <th>Delete?</th>
            <th>Edit?</th>
            <th>Good or Service Name</th>
            <th>Description</th>
        </tr>
        @foreach (Item i in Model.GetItems().OrderBy(x => x.ItemName))
        {
            <tr>
                <td style="text-align: center;">
                    <button type="submit" asp-page-handler="delete" asp-route-id="@i.ItemId">X</button>
                </td>
                <td style="text-align: center;">
                    <button type="submit" asp-page-handler="edit" asp-page="./Edit" asp-route-id="@i.ItemId">*</button>
                </td>
                <td>@i.ItemName</td>
                <td>@i.ItemDescription</td>
            </tr>
        }
    </table>
</form>

<br />

<form method="post" asp-page-handler="Insert">
    <table>
        <tr>
            <th colspan="2">New Good or Service</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="ItemName" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="ItemDescription" rows="5"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit New Good or Service" /></td>
        </tr>
    </table>
</form>