@* Partial View *@

@model PagedResult<shopping_list.DataLayer.Brand>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using shopping_list.DataLayer;
@using DotNetPaging;

@functions{

    //Properties...
    Shopping_listDataContext _sl = new Shopping_listDataContext();

    public string SortColumn(string ColumnName)
    {
        TempData["SortColumn"] = ColumnName;
        return ColumnName;
    }

    public IQueryable<ItemBrand> GetItemBrands(int BrandId)
    {
        return _sl.ItemBrand.Where(x => x.BrandId == BrandId).OrderBy(x => x.Brand.BrandName);
    }
    public Item GetItem(int ItemId)
    {
        return _sl.Items.Where(x => x.ItemId == ItemId).SingleOrDefault();
    }
}

@if (Model != null)
{
    <form method="post">
        <table cellpadding="4" cellspacing="4">
            <tr>
                <th>Delete?</th>
                <th>Edit?</th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="BrandName">Brand Name</a>
                </th>
                <th>Description</th>
                <th>Offers</th>
                <th>Website</th>
            </tr>
            @foreach (var b in Model.Results)
            {
                <tr>
                    <td style="text-align: center;">
                        <button type="submit" asp-page-handler="delete" asp-route-id="@b.BrandId">X</button>
                    </td>
                    <td style="text-align: center;">
                        <input type="hidden" name="thePage" value="@Model.CurrentPage" />
                        <button type="submit" asp-page-handler="edit" asp-page="./Edit" asp-route-id="@b.BrandId">*</button>
                    </td>
                    <td>@b.BrandName</td>
                    <td>@b.BrandNotes</td>
                    <td>
                        @if (GetItemBrands(b.BrandId).Count() > 0)
                        {
                            @foreach (ItemBrand itemBrand in GetItemBrands(b.BrandId).OrderBy(x => x.Item.ItemName))
                            {
                                @GetItem(itemBrand.ItemId).ItemName<br />
                            }
                        }
                    </td>
                    <td><a target="_blank" href="@b.BrandWebsite">@b.BrandWebsite</a></td>
                </tr>
            }
        </table>

        Page @(@Model.PageCount < Model.CurrentPage ? 0 : Model.CurrentPage) of @Model.PageCount
        
        @(await Component.InvokeAsync<shopping_list.WebApp.Components.PagerViewComponent>(Model))

    </form>
}