@page "{id:int}"
@model shopping_list.WebApp.Pages.Manage.BrandEditModel

@using shopping_list.DataLayer;

<form method="post">
    <h2>Edit Good or Service</h2>
    <table>
        <tr>
            <td>Name</td>
            <td><input asp-for="Brand.BrandName" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea rows="5" asp-for="Brand.BrandNotes"></textarea></td>
        </tr>
        <tr>
            <td>Website</td>
            <td><input asp-for="Brand.BrandWebsite" /></td>
        </tr>
        <tr>
            <td>Offers</td>
            <td>
                <select name="Items" multiple size="10">
                    @foreach (Item i in Model.GetItems().OrderBy(x => x.ItemName))
                    {
                        @if (Model.GetItemBrands(Model.Brand.BrandId).Where(x => x.ItemId == i.ItemId).Count() > 0)
                        {
                            <option name="ItemId" selected value="@i.ItemId">@i.ItemName</option>
                        }
                        else
                        {
                            <option name="ItemId" value="@i.ItemId">@i.ItemName</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" asp-page-handler="update" asp-route-id="@Model.Brand.BrandId">Update Brand</button>
            </td>
        </tr>
    </table>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}