@page
@model shopping_list.WebApp.Pages.Manage.BrandsModel
@{
    ViewData["Title"] = "Brands";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using shopping_list.DataLayer;
@using PagedList.Mvc;

<h2>@ViewData["Title"]</h2>

@if (Model.Message != "")
{
    string fontColor = @Model.Success ? "green" : "red";
    <p style="color: @fontColor;">@Model.Message</p>
}

<form method="post" asp-page-handler="BrandDetails">
    <div>
        @{
            Html.RenderPartial("Shared/BrandsPaged", Model.GetBrands());
        }
    </div>
</form>

<br />

<form method="post" asp-page-handler="Insert">
    <table>
        <tr>
            <th colspan="2">New Brand</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="BrandName" /></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><textarea name="BrandNotes" rows="5"></textarea></td>
        </tr>
        <tr>
            <td>Website</td>
            <td><input type="text" name="BrandWebsite" /></td>
        </tr>
        <tr>
            <td>Offers</td>
            <td>
                <select name="Items" multiple size="10">
                    @foreach (Item i in Model.GetItems().OrderBy(x => x.ItemName))
                    {
                        <option name="ItemId" value="@i.ItemId">@i.ItemName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit New Brand" /></td>
        </tr>
    </table>
</form>
